<!DOCTYPE html>
{% extends 'blogApp/base.html' %}
{% block title_block %}Share post by Email{% endblock %}
    {% block content_block %}
    {% if sent%}
    <h1>Email Successfully sent!!!</h1>
    <h2>Post with title: {{post.title}} information shared by email</h2>
    {% else %}
      <h1>Share post with title:{{post.title}} By Email</h1>
      <div class="container" align='center'>
        <form method="POST" class="td">
            <table >
                {{form.as_table}}
                {% csrf_token %}
            </table>
            <input type="submit" class="btn btn-primary btn-lg btn-warning" value="Send Mail">
        </form>
    </div>
        
    {% endif %}
    {% endblock %}
