<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" align='center'>
        <h1>Play with django admin concept</h1>
        
            <a href="/my_view/">Login</a><br>
            <a href="/logout_view">Logout</a><br>
            <a href="">Register</a><br>
            

        
        <a href="/java_view/">Java</a>
    </div>
    


</body>
</html>