<!DOCTYPE html>
{% lod static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/orm.css' %}">
    <title>Student</title>
  </head>
  <body>
    <div class="container" align='center'>
      <h1>Student Details</h1>
      <table border="2px solid red">
        <thead>
          <th>SL NO.</th>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>Roll No.</th>
          <th>Marks</th>
        </thead>
        {% for std in student_list %}
          <tr>
            <td>{{std.id}}</td>
            <td>{{std.name}}</td>
            <td>{{std.email}}</td>
            <td>{{std.address}}</td>
            <td>{{std.rollno}}</td>
            <td>{{std.marks}}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
