<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home2</title>
  </head>
  <body>
    <h1>Welcome to Django learning user signin and signup form</h1>
    {% if user.is_authenticated %}
    <div class="container-login100-form-btn p-t-10">
      <a href="/logout_view2"><button class="login100-form-btn">
        Logout
      </button></a>
    </div>
    {% else %}
    <div class="container-login100-form-btn p-t-10">
      <a href="/login_view2"><button class="login100-form-btn">
        Login
      </button></a>
    </div>
    {% endif %}
  </body>
</html>
