<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" align='center'>
        <form action="" method='post'>
            <h1>Please fill the below required</h1>
            {% csrf_token %}
            <input type='password' name="old_password" class="form-control" placeholder="Old Password" required=True><br>
            <input type="password" name="new_password1" class="form-control" placeholder="New Password" required=True><br>
            <input type="password" name="new_password2" class="form-control" placeholder="Confirm New Password" required=True><br>
            <input type="submit" value='Change Password'>
        </form>
    </div>
   
</body>
</html>