body{
  background: yellow;
}

.content{
  width:70%;
  float:left;
  padding: 0 0 0 30px;
  background: red;
  color: yellow;
}
.sidebar{
  color: yellow;
  float:right;
  color: white;
  padding: 0px 10px 0 0;
  background: green;
}
.sidebar h2{
  color: cyan;
}
